/* Page */
.reveal {
  font-size: 2.5em;
}
@media print {
  .reveal {
    font-size: 2.0em;
  }
}

/* Elements */
.reveal blockquote:before,
.reveal blockquote:after {
  content: "" !important;
  quotes: default;
}
.reveal blockquote p {
  text-align: left;
  font-size: 0.9em;
}
.reveal h1 {
  font-size: 4.0em;
}
.reveal h2 {
  font-size: 3.0em;
}
.reveal h2.tip {
  color: #6cf;
}
.reveal h3 {
  font-size: 2.25em;
}
.reveal #title h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.reveal ul {
  text-align: left;
}
.reveal ul li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.reveal p,
.reveal code.p {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px
}
.reveal code {
  line-height: 1em;
  font-size: 1.5em;
}
.reveal strong {
  color: #7ad;
}

.reveal section div a.image {
  color: #ccc;
}
.reveal section div img.logo-white {
  background: #fff;
  border: 15px solid #fff;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
      border-top-radius: 15px;
}
.reveal section div img.book {
  border: 2px solid #333;
  max-width: 350px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  -webkit-box-shadow: 10px 10px 20px rgba(50, 50, 50, 0.85);
     -moz-box-shadow: 10px 10px 20px rgba(50, 50, 50, 0.85);
          box-shadow: 10px 10px 20px rgba(50, 50, 50, 0.85);
}
.reveal section div.last {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      border-top-radius: 10px;
  background-color: #e7ad52;
}

.reveal table {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  border-spacing: 10px;
}
.reveal table th,
.reveal table td {
  padding: 6px;
}
.reveal table th {
  background: #e7ad52;
  color: #000;
  text-shadow: none;
  font-weight: bold;
}
.reveal table th {
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
      border-top-radius: 10px;
}

/* Reveal.js Overrides */
.reveal .roll {
  -webkit-perspective: none;
     -moz-perspective: none;
      -ms-perspective: none;
          perspective: none;
}

/* Custom */
.image-left {
  float: left;
  text-align: center;
  vertical-align: middle;
  border: 1px solid yellow;
  width: 50%;
}

.image-right {
  float: right;
  text-align: center;
  vertical-align: middle;
  width: 50%;
}

/* CodeMirror */
div.CodeMirror {
  font-family: monospace;
  font-size: 0.8em;
  line-height: 1em;
  height: auto;
}
.CodeMirror pre {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
          box-shadow: none;
}

/* CM Highlighting -> Zenburn */
.cm-s-default.CodeMirror {
  display: block;
  background: #3F3F3F;
  color: #DCDCDC;

  display: block;
  position: relative;
  width: 90%;
  margin: 15px auto;

  text-align: left;
  font-family: monospace;
  word-wrap: break-word;

  box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}

.cm-s-default .cm-keyword     {color: #E3CEAB;}
.cm-s-default .cm-atom        {color: #DCDCDC;}
.cm-s-default .cm-number      {color: #DCDCDC;}
.cm-s-default .cm-def         {color: #DCDCDC;}
.cm-s-default .cm-variable    {color: #DCDCDC;}
.cm-s-default .cm-variable-2  {color: #DCDCDC;}
.cm-s-default .cm-variable-3  {color: #DCDCDC;}
.cm-s-default .cm-property    {color: #DCDCDC;}
.cm-s-default .cm-operator    {color: #DCDCDC;}
.cm-s-default .cm-comment     {color: #7F9F7F;}
.cm-s-default .cm-string      {color: #CC9393;}
.cm-s-default .cm-string-2    {color: #DCDCDC;}
.cm-s-default .cm-meta        {color: #DCDCDC;}
.cm-s-default .cm-error       {color: #DCDCDC;}
.cm-s-default .cm-qualifier   {color: #DCDCDC;}
.cm-s-default .cm-builtin     {color: #DCDCDC;}
.cm-s-default .cm-bracket     {color: #DCDCDC;}
.cm-s-default .cm-tag         {color: #DCDCDC;}
.cm-s-default .cm-attribute   {color: #DCDCDC;}
.cm-s-default .cm-header      {color: #DCDCDC;}
.cm-s-default .cm-quote       {color: #DCDCDC;}
.cm-s-default .cm-hr          {color: #DCDCDC;}
.cm-s-default .cm-link        {color: #DCDCDC;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}

.cm-invalidchar {color: #f00;}

div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
.CodeMirror-activeline-background {background: white;}

.CodeMirror-selected { background: #ccc; }
.CodeMirror-focused .CodeMirror-selected { background: #ccc; }

