extends layout

block meta

  title SeattleJS - Learn Frontend Testing
  meta(name='description', content='Learn how to test frontend JavaScript code in your web applications.')
  meta(name='author', content='Ryan Roemer')

block slides

  section
    h1 Learn Frontend Testing
    h3
      a(href="http://www.meetup.com/seattlejs/") SeattleJS
      |  -&nbsp;
      a(href="http://www.meetup.com/seattlejs/events/139993642/") Oct. 16th, 2013
    p
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer

  section
    section
      h2 Sponsors

  section
    :markdown
      ## Overview

      * TODO START HERE

  section
    h1 Thanks!
    p.last
      a(href='http://loose-bits.com') Ryan Roemer
      |  |&nbsp;
      a(href='http://twitter.com/ryan_roemer') @ryan_roemer
    p.last
      strong
        a(href='http://twitter.com/FormidableLabs') @FormidableLabs
    p.last
      strong
        a(href='http://backbone-testing.com') backbone-testing.com

  //-section
    :markdown
      ## EXTRA

      * LESSONS: Problems (and dealing with them).
        * Proxying unreliable HTTP services.
        * Network slow downs.
        * Cloud wonkiness / server losses. (AWS east coast storm).

